<div class="post__score">
    <p style="width: max-content;margin: auto;font-weight: bold;font-size: larger;">
        {{ page.score }}
    </p>
</div>
<div class="post__summary">
    <table>
        <tr>
            <th>Pros</th>
            <th style="text-align: end;">Cons</th>
        </tr>
        <tr>
            <td class="col">
                <!-- Pros -->
                {% for pro in page.pros %}
                <p>{{ pro }}</p>
                {% endfor %}
            </td>
            <td class="col" style="text-align: end;">
                <!-- Cons -->
                {% for con in page.cons %}
                <p>{{ con }}</p>
                {% endfor %}
            </td>
        </tr>
    </table>
</div>