---
layout: page
permalink: /archive/
title: Archive
subtitle: "Here lie all my posts."
---

{% assign items = site.posts | sort: 'date' | reverse %}

{% for item in items %}

  {% assign next_item = items[forloop.index] %}
  {% capture year %}{{ item.date | date: '%Y' }}{% endcapture %}
  {% capture next_year %}{{ next_item.date | date: '%Y' }}{% endcapture %}

  {% if forloop.first %}
    <h3>{{ year }}</h3>
    <ul>
  {% endif %}

      <li>
        <strong><time>{{ item.date | date: "%d %B" }}</time></strong>
        <a href="{{ item.url }}">{{ item.title }}</a>
      </li>

  {% if year != next_year %}
    </ul>
    <h3>{{ next_year }}</h3>
    <ul>
  {% endif %}

  {% if forloop.last %}
    </ul>
  {% endif %}

{% endfor %}

<i>End.</i>