<div class="post__score">
    <p>{{ page.score }}</p>
</div>
<div class="post__summary">
    <table>
        <tr>
            <th>Pros</th>
            <th>Cons</th>
        </tr>
        <tr>
            <td class="col">
                <!-- Pros -->
                <ul>
                    {% for pro in page.pros %}
                        <li>{{ pro }}</li>
                    {% endfor %}
                </ul>
                
            </td>
            <td class="col">
                <!-- Cons -->
                <ul>
                    {% for con in page.cons %}
                        <li>{{ con }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
</div>