<footer class="post__share">
  <h4 class="post__section-title">Share</h4>
  <ul class="social-links" style="list-style-type: none;">
    <li class="social-links__item">
      <a
        class="twitter"
        title="Share on Twitter"
        style="border-bottom: none;"
        href="https://twitter.com/intent/tweet?status={{ page.title }}+{{ site.url }}{{ page.url }} via @{{site.author.twitter}}">
        <!-- {% include icons/twitter.svg %} -->
        <img src="https://img.icons8.com/android/48/000000/twitter.png"/>
      </a>
    </li>
    <li class="social-links__item">
      <a
        class="facebook"
        title="Share on Facebook"
        style="border-bottom: none;"
        href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&title={{ page.title }}">
          <!-- {% include icons/facebook.svg %} -->
          <img src="https://img.icons8.com/android/48/000000/facebook-new.png"/>
      </a>
    </li>
    <li class="social-links__item">
      <a
        class="linkedin"
        title="Share on LinkedIn"
        style="border-bottom: none;"
        href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}&amp;title={{ page.title }}&amp;source={{site.url}}">
        <!-- {% include icons/linkedin.svg %} -->
        <img src="https://img.icons8.com/android/48/000000/linkedin.png"/>
      </a>
    </li>
  </ul>
</footer>