.social-links{
  @extend .default-list;
  text-align: center;
  padding-bottom: rem(50);
  list-style-type: none;

  li {
    margin: 10;
    display: inline-block;
  }

  a {
    border: none;
    border-bottom: none;
  }

  svg {
    width: rem(20);
    fill: rgba($gray, .6);
    transition: all 300ms ease;
  }

  a:hover svg {
    fill: $base-dark;
  }
}