---
layout: default
---

{% if page.math %}
<!-- Fetch Katex and jQuery -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.css" integrity="sha384-bsHo4/LA+lkZv61JspMDQB9QP1TtO4IgOf2yYS+J6VdAYLVyx1c3XKcsHh0Vy8Ws" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.js" integrity="sha384-4z8mjH4yIpuK9dIQGR1JwbrfYsStrNK6MP+2Enhue4eyo0XlBDXOIPc8b6ZU0ajz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
{% endif %}

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <h1 class="post__title" itemprop="name headline">
      {{ page.title }}
    </h1>

    <div class="post__meta">

      {% include meta.html %}

      {% if page.tags.size > 0 %}
      <ul class="meta-tags">
        {% for tag in page.tags %}
          <li class="meta-tags__item">
            <a href="/tags/{{ tag }}">#{{ tag }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </header>

  {% if page.image %}
  <figure class="post__cover">
    <img src="{{page.image | absolute_url }}" alt="{{page.title}}" itemprop="thumbnailUrl">
  </figure>
  {% endif %}

  <section class="post__content">
    {{ content }}
  </section>

  {% include post/social-links.html %}
  {% include post/references.html %}
</article>

{% include post/comments.html %}