/**
 * Basic styling
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font: normal 300 1.125em/1.8em $serif-font-family;
  letter-spacing: 0.01rem;
  color: $black;
  background: $white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @include background('/assets/svgs/bg-elements.svg');

  @include media(small_only) {
    background-image: none;
  }
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 2px;
}


/**
 * Figures
 */
figure {
  width: 100%;
  margin: 0 auto;
  position: relative;
  clear: both;
  outline: 0;
  box-sizing: border-box;
  user-select: auto;
  z-index: 100;

  > img {
    display: block;
    margin: 0 auto;
  }
}

figcaption {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  color: rgba($black, .6);
  outline: 0;
  text-align: center;
  font-size: 14px;
  margin: 10px auto 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  line-height: 1.2em;
  font-weight: 700;

  code {
    font-size: .8em;
  }
}

.h1 {
  @extend h1;
}
.h2 {
  @extend h2;
}
.h3 {
  @extend h3;
}
.h4 {
  @extend h4;
}

h1 {
  font-size: 3rem;
  // letter-spacing: -2px;
}

h2 {
  font-size: 2.25rem;
  margin-top: 3rem;
  // letter-spacing: -1px;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.125rem;
  }
}

/**
 * Paragraphs
 */
p {
  margin: 0 0 rem(30);
}

/**
 * Bolder
 */
b, strong {
  font-weight: bold;
}


/**
 * Blockquotes
 */
blockquote {
  position: relative;
  margin: rem($spacing-unit * 2) 0;
  padding: 0 2.5em;
  text-align: center;
  font-style: italic;
  font-size: rem(24);
  line-height: 1.5em;
  color: $gray;

  &:after, &:before {
    position: absolute;
    font-size: 4em;
    color: rgba($blue,.6);
    z-index: -1;
    font-family: 'Droid Serif', georgia, serif;
  }

  &:after{
    content: "''"; 
    right: 0px;
  }

  &:before{
    content: "''";
    left: 0px;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Horizontal Reference
 */
hr {
  box-sizing: content-box;
  height: 0;
  display: block;
  border: 0;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

  &:before {
    content: '...';
    display: inline-block;
    margin-left: .6em;
    color: rgba($black, .4);
    position: relative;
    top: -30px;
    font-size: 1.8rem;
    letter-spacing: .6em;
  }
}

@media only screen and (max-width: 768px) {
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 1em;
  border-radius: 2px;
}

code {
  font-family: $console-font-family;
  font-size: 1rem;
  letter-spacing: -0.3px;
  padding: 1px 5px;
  white-space: normal;
}

:not(pre)>code {
    background: $block-code-color;
    border: 1px solid rgb(228, 228, 228);
    margin: 0 0.05em;
    padding: 1px 5px;
    white-space: nowrap;
}

pre {
  background: $block-code-color;
  line-height: 1.35;
  overflow-x: auto;
  margin: rem(30) 0;
  white-space: pre;
  word-wrap: normal;
  box-shadow: 0 1px 1px rgba($black, 0.12);
  -webkit-overflow-scrolling: touch;

  > code {
    border-radius: 2px;
    color: #3d3e44;
    display: block;
    outline: none;
    overflow-x: auto;
    padding: 1rem;
    white-space: inherit;
  }
}

/**
 * Clearfix
 */
%clearfix,
.clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Hidden
 */
.hidden {
  visibility: hidden;
  display: none;
}

/**
 * Default list
 */
.default-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/**
 * Image rounded
 */
.img-rounded {
  border-radius: 50%;
}

/**
 * Center
 */
.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center !important;
}

.text-light {
  font-weight: normal;
}

.text-base-color {
  color: $base-color;
}

/**
 * Links
 */
a {
  color: $black;
  border-bottom: 1px solid $blue;
  text-decoration: none;
  transition: all 300ms ease-in-out;

  &:active,
  &:hover {
    color: $base-dark;
    border-color: $base-dark;
    outline: 0;
  }
}

.website {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  @extend %clearfix;
  flex: 1;
  padding-top: rem(120);
  padding-bottom: rem(60);

  @include media(medium) {
    padding-top: rem(150);
    padding-bottom: rem(90);
  }

  @include media(large) {
    padding-top: rem(180);
  }

  @include media(x_large) {
    padding-top: rem(210);
  }
}

.container {
  position: relative;
  display: block;
  width: $content-width;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  @extend %clearfix;
}

.title-hero {
  margin: rem($spacing-unit * 3) 0 rem(30px);
  color: $blue;
  text-transform: uppercase;
  font-size: $small-font-size;
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 2px;
    width: rem(50px);
    margin: rem(20) 0 0;
    background: $blue;
  }
}